$black: #000;
$gray-dark: #333;
$gray: #888;
$gray-light: #bbb;
$gray-lighter: #eee;
$white: #fff;
$red: #f44;
$green: #690;
$blue: #09c;
$orange: #f80;
$purple: #a6c;
$color-primary: #09c;
$color-warning: #f80;
$color-danger: #f44;
$color-success: #690;
$background-color: #fff;
$background-color-inverted: #333;
$text-color: #333;
$text-color-inverted: #fff;
$text-color-muted: #888;
$font-size-base: 16px;
$font-size-large: 20px;
$font-size-small: 14px;
$font-size-tiny: 11px;
$font-family: "Helvetica Neue", Helvetica, Ubuntu, "Segoe UI", Arial, sans-serif;
$line-height: 1.4;
$line-height-computed: 22.4px;
$screen-small: 568px;
$screen-medium: 1024px;
$screen-large: 1440px;
$padding-content: 10px;
$grid-unit: 284px;
$border-width: 1px;
$border-radius: 4px;
$padding: 10;